<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gamehub">

    <!-- पैकेज लिस्ट देखने की परमिशन -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    
    <!-- उपयोग की जानकारी के लिए परमिशन (टाइम ट्रैक के लिए) -->
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".GameDetailActivity" />
        
    </application>
</manifest>
